#form-preiscrizione .checkbox label small,
#form-preiscrizione-speciale .checkbox label small,
#form-informazioni .checkbox label small {
	position: absolute;
	top: 23px;
}
.form-group.has-error small.has-error {
	color: #a94442;
}
.form-row {clear: both;}
@media (max-width: 540px) {
	#form-preiscrizione .checkbox,
	#form-preiscrizione-speciale .checkbox,
	#form-informazioni .checkbox {
		margin-bottom: 30px;
	}
	#form-preiscrizione-speciale .checkbox label small,
	#form-preiscrizione .checkbox label small,
	#form-informazioni .checkbox label small {
		top: 46px;
	}
}
.ui-menu-item {
	min-height: 0 !important;
}
.spinner {
	background: url(../img/spinner.gif) no-repeat;
	background-size: 20px 20px;
	display: inline-block;
	visibility: hidden;
	vertical-align: middle;
	opacity: 0.7;
	filter: alpha(opacity=70);
	width: 20px;
	height: 20px;
	margin: 4px 10px 0;
}
.spinner.is-active,
.loading-content .spinner {
	visibility: visible;
}